.container-div {
    width: 500px;
    border: solid rgba(58, 54, 54, 0.555);
    border-radius: 5px;
    background-color: rgba(101, 115, 163,0.5);
    h1 label {
        color:white
    }
    
  
}


.button-login {
    margin-bottom: 15px;

}