
.background {

 height: 95vh;
background-image: url("https://quotefancy.com/media/wallpaper/3840x2160/559956-Publilius-Syrus-Quote-Debt-is-the-slavery-of-the-free.jpg://quotefancy.com/media/wallpaper/3840x2160/724165-Dave-Ramsey-Quote-Investing-is-important-but-get-debt-free-first.jpg");
background-size: cover;
}